 :root {
     --bgcolor: #c7d5ff;
     --mainAccent: #111580;
     --mainAccent1: rgb(11, 13, 75);
     --mainDarkAccent: #04051F;
     --mainLightAccent: #111580;
     --mainLighterestAccent: #f9f9ff;
     --secondDarkAccent: #FE882B;
     --secondAccent: #ff9544;
     --grayAccent: #aeb0b5;
     --fontColor: black;
     --smallColor: #6e6e6e;
 }

 * {
     /* border: 1px solid red; */
 }

 html {
     scroll-behavior: smooth;
 }

 .transparent {
     background-color: transparent !important;
 }

 body {
     background: rgb(255, 255, 255);
     background: linear-gradient(119deg, rgba(255, 255, 255, 1) 30%, rgba(239, 243, 255, 1) 65%, rgba(225, 233, 255, 1) 77%, rgba(199, 213, 255, 1) 91%);
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     line-height: 1.5;
     font-size: 1rem;
     color: #212529;
 }

 /*NAVBAR*/

 /* for toggle behavior */

 #sidebar.active {
     margin-left: -50rem;
 }

 #content.active {
     width: 100%;
     margin: 0;
 }

 #content.activity {
     display: none;
 }

 .closeNav {
     display: none;
 }

 .notifff {
     display: none;
 }

 .alertMeeting {
     background-color: rgb(189, 35, 18);
     color: white;
 }

 #alertHref:hover {
     color: rgb(255, 194, 188) !important;
 }

 .btnFilter {
     background-color: var(--mainAccent);
     color: white;
 }

 .topnav .dropdown-menu {
     max-height: 70vh;
     border-radius: 0;
     width: 400px;
     box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
 }

 .topnav .dropdown-menu h6 {
     background-color: var(--mainAccent);
     color: white;
 }

 .topnav .dropdown-menu .dropdown-item {
     border-top: 1px solid #D4D7DC;
     white-space: normal;
 }

 .topnav .dropdown-menu h4 {
     font-size: 16px;
 }

 .topnav .dropdown-menu .notifAuthor {
     font-size: 12px;
 }

 .topnav .dropdown-menu .notifMesg {
     font-size: 14px;
 }

 .vertical-nav {
     width: 14rem;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.726);
     transition: all 0.4s;
     background-color: var(--mainDarkAccent);
     z-index: 9999;
 }

 .sidebar-footer {
     position: absolute;
     width: 100%;
     bottom: 0;
     display: flex;
     text-align: center;
     justify-content: center;
 }

 .vertical-nav .brand {
     margin-top: 30px;
     font-family: 'Mansalva', cursive;
     color: #FCFDFF;
     font-size: 30px;
 }

 .vertical-nav a .navlink {
     color: #a3a3a3;
     font-weight: 500;
     font-size: 13px;
 }

 .vertical-nav a .fas {
     background: #a3a3a3;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-left: 10px;
 }

 .vertical-nav small {
     font-weight: bold;
     color: #a3a3a3;
 }

 .vertical-nav a {
     padding-top: 12px;
     padding-bottom: 12px;
     margin-bottom: 3px;
     border-left: 8px solid transparent;
 }

 .vertical-nav .nav-item a:hover {
     border-left: 8px solid var(--secondDarkAccent);
     transition: all linear 0.5s;
 }

 .vertical-nav .nav-item a:hover .navlink {
     color: white;
     font-weight: 600;
 }

 .vertical-nav .nav-item a:hover .fas {
     background: white;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .vertical-nav .nav-item .active {
     border-left: 8px solid var(--secondDarkAccent);
 }

 .vertical-nav .nav-item .active .navlink {
     color: white;
     font-weight: 600;
 }

 .vertical-nav .nav-item .active .fas {
     background: white;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .topnav {
     top: 0;
     background-color: white;
 }

 .topnav .page-title {
     color: black;
     font-size: 25px;
 }

 .topnav .fas {
     color: var(--mainAccent);
 }

 /*CONTENT*/

 #topBanner {
     margin: auto;
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .5)), url('../assets/bb1.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     background-position: center bottom;
     position: relative;
 }

 #topBanner .svg {
     max-height: 20vh;
 }

 .ftco-section {
     height: 30vh;
     width: 100%;
 }

 .ftco-section .today {
     width: 100%;
     -webkit-box-shadow: 0px 15px 30px -16px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 15px 30px -16px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 15px 30px -16px rgba(0, 0, 0, 0.3);
 }

 .ftco-section .tp1 {
     height: 6vh;
     background: var(--mainDarkAccent);
 }

 .ftco-section .tp2 {
     height: 18vh;
     background: white;
 }

 .ftco-section .tp3 {
     height: 6vh;
     background: #15165f;
 }

 .ftco-section .day, .ftco-section .year {
     font-size: 15px;
     font-weight: 500;
     letter-spacing: 0.35em;
     text-transform: uppercase;
     color: white;
 }

 .ftco-section .month {
     font-size: 1.5em;
     font-weight: 200;
 }

 .ftco-section .date {
     font-size: 3em;
     font-weight: 300;
     color: var(--secondDarkAccent);
 }

 .ftco-section .add1 {
     background-color: var(--secondAccent);
     color: white;
     border: none;
     border-radius: 0;
     font-size: 13px;
     padding: 7px 18px;
 }

 .ftco-section .add1:hover {
     background-color: var(--mainAccent);
 }

 .page-content {
     width: calc(100% - 14rem);
     margin-left: 14rem;
     transition: all 0.4s;
 }

 .page-content .navbar-nav #name {
     color: black;
     font-weight: bold;
 }

 /*SECTION LIST COUNT*/

 #list-count .card {
     box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
     background-color: white;
     padding: 25px 25px;
 }

 #list-count .fas {
     border-radius: 50%;
     padding: 25px;
     color: var(--mainDarkAccent);
 }

 #list-count .icon1 {
     background: rgb(255, 255, 255);
     background: radial-gradient(circle, rgba(255, 255, 255, 1) 13%, rgba(182, 147, 226, 1) 39%, rgba(153, 104, 215, 1) 59%, rgba(102, 40, 172, 1) 92%);
 }

 #list-count .icon2 {
     background: rgb(255, 255, 255);
     background: radial-gradient(circle, rgba(255, 255, 255, 1) 13%, rgba(252, 219, 173, 1) 39%, rgba(252, 182, 84, 1) 59%, rgba(192, 131, 45, 1) 92%);
 }

 #list-count .icon3 {
     background: rgb(255, 255, 255);
     background: radial-gradient(circle, rgba(255, 255, 255, 1) 13%, rgba(251, 183, 177, 1) 39%, rgba(237, 116, 105, 1) 59%, rgba(190, 61, 47, 1) 92%);
 }

 #list-count .icon4 {
     background: rgb(255, 255, 255);
     background: radial-gradient(circle, rgba(255, 255, 255, 1) 13%, rgba(167, 251, 254, 1) 39%, rgba(73, 211, 217, 1) 59%, rgba(0, 189, 196, 1) 92%);
 }

 #list-count .icon5 {
     background: rgb(255, 255, 255);
     background: radial-gradient(circle, rgba(255, 255, 255, 1) 13%, rgb(154, 236, 184) 39%, rgb(75, 224, 127) 59%, rgb(18, 185, 76) 92%);
 }

 #list-count .card h5 {
     font-size: 35px;
     font-weight: bolder;
     letter-spacing: 1px;
     color: var(--fontColor);
 }

 #list-count .card small {
     color: var(--fontColor);
     font-size: 13px;
     font-weight: 300;
 }

 /*TABLE CONTENT */

 #table-section {
     background-color: white;
     border: 1px solid #D4D7DC;
     padding: 20px 0 50px;
 }

 #table-section .add {
     background-color: var(--secondAccent);
     color: white;
     border: none;
     font-size: 13px;
     padding: 7px 18px;
 }

 #table-section .add1 {
     background-color: var(--mainAccent);
     color: white;
     border: none;
     border-radius: 0;
     font-size: 13px;
     padding: 7px 18px;
 }

 #table-section .add1:hover {
     background-color: var(--secondAccent);
 }

 #table-section .add:hover {
     background-color: var(--mainAccent);
 }

 #table-section .add .fas, #table-section .add1 .fas {
     transition: transform .7s ease-in-out;
 }

 #table-section .add:hover .fas, #table-section .add1:hover .fas {}

 #tableNavbar h1 {
     font-size: 20px;
 }

 #table-section tbody tr th, #table-section tbody tr td {
     vertical-align: middle;
     font-weight: 600;
 }

 #table-section .small {
     font-weight: bold;
     color: var(--smallColor);
 }

 /* #table-section .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
     background-color: #e8edf4;
 } */

 #table-section .table thead tr th {
     font-size: 12px;
     color: white;
     background-color: var(--mainAccent1)
 }

 #table-section .table a {
     color: var(--mainAccent);
 }

 #table-section .table tbody {
     font-size: 14px;
     color: black;
 }

 #table-section .sort .btnSort {
     padding: 10px 0;
     background-color: transparent;
     color: rgb(146, 145, 170);
     font-size: 13px;
     font-weight: bolder;
     box-shadow: none;
 }

 #table-section .sort .btnSort:hover .sortTitle {
     border-bottom: 3px solid var(--mainAccent);
     color: black;
     transition: 0.1s all ease-in-out;
 }

 #table-section .sort .active {
     background-color: rgb(251, 251, 251);
     color: black;
 }

 #table-section .sort .active .sortTitle {
     border-bottom: 3px solid var(--mainAccent);
 }

 #table-section .cC {
     background-color: white;
     padding: 10px 15px;
     margin-top: 30px;
 }

 #table-section .hiddenRow {
     padding: 0 !important;
 }

 #table-section .submit1 {
     background-color: var(--mainAccent);
     color: white;
     border-radius: 0;
 }

 #table-section .submit1:hover {
     background-color: #696deb;
     color: white;
 }

 #table-section .titleComplaint {
     background-color: var(--mainDarkAccent);
     padding: 15px 15px;
     font-size: 18px;
     color: white;
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 20px;
 }

 #table-section #tableContent {
     background-color: rgb(251, 251, 251);
 }

 #table-section #tableNavbar img {
     max-height: 300px;
 }

 #table-section #tableNavbar h2 {
     margin-top: 10px;
     font-size: 25px;
 }

 #table-section #tableNavbar .isVerify {
     border-radius: 30px;
     margin-top: 10px;
     padding: 10px 0;
     text-align: center;
     width: 200px;
     font-size: 16px;
 }

 #table-section #tableNavbar .count {
     color: white
 }

 table.dataTable thead th {
     border-bottom: none;
     padding: initial 15px;
 }

 table.dataTable tbody tr td {
     border-bottom: none;
     padding: 20px 15px;
 }

 .modal .complaintDiv {
     padding: 30px;
     background-color: rgba(225, 238, 255, 1);
 }

 .modal .modal-footer {
     border-top: none;
 }

 .modal .modal-footer .btn {
     padding: 7px 40px;
 }

 .modal .modal-footer .btnAccept {
     background-color: var(--mainAccent);
     color: white;
 }

 .modal .modal-footer .btnAccept:hover {
     background-color: var(--mainDarkAccent);
 }

 .bio-row {
     width: 50%;
     float: left;
     margin-bottom: 10px;
     padding: 0 15px;
 }

 .bio-row p span {
     font-weight: bolder;
     width: 200px;
     display: inline-block;
 }

 .bio-graph-heading {
     background: var(--mainDarkAccent);
     color: #fff;
     text-align: center;
     padding: 20px 110px;
     border-radius: 4px 4px 0 0;
     -webkit-border-radius: 4px 4px 0 0;
     font-size: 20px;
     font-family: 'Poppins-Medium';
 }

 .modal .modal-header {
     background-color: transparent;
     border-bottom: none;
 }

 .modal .modal-dialog-aside {
     width: 450px;
     max-width: 80%;
     height: 100%;
     margin: 0;
     transform: translate(0);
     transition: transform .2s;
 }

 .modal .modal-dialog-aside .modal-content .modal-header, .modal .modal-dialog-aside .modal-content .modal-footer {
     border: none;
 }

 .modal .modal-dialog-aside .modal-content {
     height: inherit;
     border: 0;
     border-radius: 0;
     background-color: white;
 }

 .modal .modal-dialog-aside .modal-content label {
     color: var(--light-gray);
     font-size: 15px;
     font-weight: bold;
 }

 .modal .modal-dialog-aside .modal-content .modal-body {
     overflow-y: auto
 }

 .modal .modal-dialog-aside .modal-content .modal-body .editable {
     color: black;
 }

 .modal .modal-dialog-aside .modal-content .modal-body .editable:hover, .modal .modal-dialog-aside .modal-content .modal-body .editable:focus {
     border-color: var(--mainAccent);
 }

 .modal .modal-dialog-aside .modal-content .modal-body input {
     border-radius: 0;
 }

 .modal .modal-dialog-aside .modal-content .modal-footer .btnsave {
     background-color: var(--mainAccent);
     color: white;
 }

 .modal .modal-dialog-aside .modal-content .modal-footer .btnsave:hover {
     background-color: var(--mainDarkAccent);
 }

 .modal.fixed-left .modal-dialog-aside {
     margin-left: auto;
     transform: translateX(100%);
 }

 .modal.fixed-right .modal-dialog-aside {
     margin-right: auto;
     transform: translateX(-100%);
 }

 .modal.show .modal-dialog-aside {
     transform: translateX(0);
 }

 /* POPOVER */

 .popover {
     max-width: 600px !important;
     background-color: #e8edf4;
     padding: 1.5rem;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
 }



 /* FULLCALENDAR */

 .fc-toolbar .btn-group .btn, .fc-toolbar .btn {
     background-color: var(--mainAccent);
     color: #fff;
     border: none;
 }

 .fc-toolbar .btn-group .btn:hover, .fc-toolbar .btn:hover {
     background-color: var(--mainLightAccent);
 }

 .fc-daygrid-day-bottom .fc-more-link {
     color: chartreuse;
 }

 @media (max-width: 1024px) {
     .removeSm {
         display: none !important;
     }

 }

 @media (max-width: 500px) {
     .closeNav {
         display: block;
     }

     .vertical-nav {
         width: 100% !important;
         position: absolute !important;
         height: 150vh;
     }

     .topnav .page-title {
         font-size: 20px;
     }

     #notificationPanel, #dropdown1234 {
         display: none;
     }

     .notifff {
         display: block;
     }


 }

 @media screen and (max-width:767px) {
     .fc-toolbar.fc-header-toolbar {
         font-size: 60%
     }

     .fc-toolbar.fc-header-toolbar {
         flex-direction: column;
     }

     .fc-toolbar-chunk {
         display: table-row;
         text-align: center;
         padding: 5px 0;
     }

     .btnSort {
         font-size: 70% !important;
         padding-left: 5px !important;
         padding-right: 5px !important;
     }

     .navholder {
         margin-left: 0 !important;
     }
 }

 @keyframes transitionIn {
     from {
         opacity: 0;
         transform: translateY(-40px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }