 :root {
     --bgcolor: white;
     --mainAccent: #1F5493;
     --mainDarkAccent: #102E51;
     --mainLightAccent: #0371BC;
     --mainLighterestAccent: #4773AA;
     --secondDarkAccent: #FDB81D;
     --secondAccent: #F9C641;
     --grayAccent: #aeb0b5;
     --fontColor: black;
 }

 @import url('https://fonts.googleapis.com/css?family=Raleway&family=Roboto&display=swap');
 @font-face {
     font-family: Poppins-Medium;
     src: url(../fonts/SFUIDisplay-Semibold.otf);
 }

 @font-face {
     font-family: Poppins;
     src: url(../fonts/SFUIDisplay-Regular.otf);
 }

 @font-face {
     font-family: Poppins-Light;
     src: url(../fonts/SFUIDisplay-Light.ttf);
 }

 @font-face {
     font-family: Roboto;
     src: url(../fonts/Roboto-Regular.ttf);
 }

 * {
     /* border: 1px solid red; */
 }

 html {
     scroll-behavior: smooth;
 }

 .transparent {
     background-color: transparent !important;
 }

 body {
     background: rgb(188, 217, 255);
     background: linear-gradient(298deg, rgba(188, 217, 255, 1) 8%, rgba(225, 238, 255, 1) 47%, rgba(238, 245, 255, 1) 88%, rgba(249, 251, 255, 1) 100%);
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Poppins';
 }

 /*NAVBAR*/

 /* for toggle behavior */

 #sidebar.active {
     margin-left: -18rem;
 }

 #content.active {
     width: 100%;
     margin: 0;
 }

 .vertical-nav {
     min-width: 17rem;
     width: 18rem;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
     transition: all 0.4s;
     background-color: var(--mainDarkAccent);
     z-index: 9999;
 }

 .sidebar-footer {
     position: absolute;
     width: 100%;
     bottom: 0;
     display: flex;
     text-align: center;
     justify-content: center;
 }

 .vertical-nav .brand {
     margin-top: 30px;
     font-family: 'Mansalva', cursive;
     color: #FCFDFF;
     font-size: 40px;
 }

 .vertical-nav a .navlink {
     color: #FCFDFF;
     font-weight: 500;
     font-size: 13px;
 }

 .vertical-nav a .fas {
     background: #FCFDFF;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .vertical-nav small {
     font-weight: bold;
     color: #a3a3a3;
 }

 .vertical-nav a {
     padding-top: 14px;
     padding-bottom: 14px;
     margin-bottom: 3px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
 }

 .vertical-nav .nav-item a:hover {
     background: var(--secondAccent);
     transition: all linear 0.5s;
 }

 .vertical-nav .nav-item a:hover .navlink {
     color: black;
 }

 .vertical-nav .nav-item a:hover .fas {
     background: white;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .vertical-nav .nav-item .active {
     background: var(--secondAccent);
     transition: all linear 0.5s;
 }

 .vertical-nav .nav-item .active .navlink {
     color: black;
 }

 .vertical-nav .nav-item .active .fas {
     background: white;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .topnav .page-title {
     font-family: 'Poppins-Medium';
     color: black;
     font-size: 25px;
 }

 .topnav .fas {
     color: var(--mainAccent);
 }

 .alert {
     background-color: transparent;
     border: 1px solid var(--light-blue);
     color: var(--light-gray);
     border-radius: 30px;
 }

 /*CONTENT*/

 #content {
     min-width: 500px;
 }

 .page-content {
     width: calc(100% - 17rem);
     margin-left: 17rem;
     transition: all 0.4s;
 }

 .page-content .navbar-nav #name {
     color: black;
     font-weight: bold;
 }

 /*SECTION LIST COUNT*/

 #list-count .card {
     background-color: white;
     padding-top: 10px;
     padding-bottom: 10px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
 }

 #list-count .fas {
     border-radius: 50%;
     padding: 20px;
     color: white;
     background-color: var(--mainDarkAccent);
 }

 #list-count .card h5 {
     font-size: 25px;
     font-weight: 600;
     letter-spacing: 1px;
     color: var(--fontColor);
 }

 #list-count .card small {
     color: var(--fontColor);
     font-size: 12px;
     font-weight: 300;
 }

 /*TABLE CONTENT */

 #table-section {
     background-color: white;
     border: 1px solid #D4D7DC;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
 }

 #table-section .add {
     background-color: var(--mainAccent);
     color: white;
     border-radius: 50%;
 }

 #table-section .add:hover {
     background-color: transparent;
     border: 1px solid var(--mainAccent);
     color: var(--mainAccent);
 }

 #tableNavbar h1 {
     font-size: 20px;
 }

 #table-section tbody tr th, #table-section tbody tr td {
     vertical-align: middle;
 }

 #table-section .small {
     font-weight: bold;
     color: var(--mainLightAccent);
 }

 /* #table-section .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
     background-color: #e8edf4;
 } */

 #table-section .table-hover tbody tr:hover td, #table-section .table-hover tbody tr:hover th {
     background-color: #f9fbff;
 }

 #table-section .table thead {
     font-size: 11px;
     color: #545454;
     background-color: #f9fbff;
 }

 #table-section .table a {
     color: var(--mainAccent);
 }

 #table-section .table tbody {
     font-size: 14px;
     color: black;
     font-family: 'Poppins';
 }

 #table-section .sort .btnSort {
     background-color: transparent;
     color: black;
     border-color: var(--mainAccent);
     border-radius: 40px;
     font-size: 13px;
     box-shadow: none;
 }

 #table-section .sort .btnSort:hover {
     background-color: var(--mainAccent);
     color: white;
 }

 #table-section .sort .active {
     background-color: var(--mainAccent);
     color: white;
 }

 #table-section .cC {
     background-color: #e8edf4;
     padding: 10px 15px;
     margin-top: 30px;
 }

 #table-section .hiddenRow {
     padding: 0 !important;
 }

 #table-section .submit1 {
     background-color: var(--secondDarkAccent);
     color: black;
     border-radius: 0;
     border-color: var(--secondDarkAccent);
 }

 #table-section .submit1:hover {
     background-color: var(--secondAccent);
 }

 #table-section .titleComplaint {
     background-color: var(--mainDarkAccent);
     padding: 15px 15px;
     font-size: 18px;
     color: white;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
     font-weight: bold;
     margin-bottom: 20px;
 }

 #table-section #tableNavbar img {
     max-height: 300px;
 }

 #table-section #tableNavbar h2 {
     margin-top: 10px;
     font-family: 'Poppins-Medium';
     font-size: 25px;
 }

 #table-section #tableNavbar .isVerify {
     border-radius: 30px;
     margin-top: 10px;
     padding: 10px 0;
     text-align: center;
     width: 200px;
     font-size: 16px;
 }

 #table-section #tableNavbar .count {
     color: white
 }

 .modal .complaintDiv {
     padding: 30px;
     background-color: rgba(225, 238, 255, 1);
 }

 .modal .modal-footer .btnAccept {
     background-color: var(--mainDarkAccent);
     color: white;
 }

 .modal .modal-footer .btnAccept:hover {
     background-color: var(--mainAccent);
 }

 .bio-row {
     width: 50%;
     float: left;
     margin-bottom: 10px;
     padding: 0 15px;
 }

 .bio-row p span {
     font-weight: bolder;
     width: 200px;
     display: inline-block;
 }

 .bio-graph-heading {
     background: var(--mainAccent);
     color: #fff;
     text-align: center;
     padding: 20px 110px;
     border-radius: 4px 4px 0 0;
     -webkit-border-radius: 4px 4px 0 0;
     font-size: 20px;
     font-family: 'Poppins-Medium';
 }

 .modal .modal-dialog-aside {
     width: 350px;
     max-width: 80%;
     height: 100%;
     margin: 0;
     transform: translate(0);
     transition: transform .2s;
 }

 .modal .modal-dialog-aside .modal-content .modal-header, .modal .modal-dialog-aside .modal-content .modal-footer {
     background-color: var(--mainDarkAccent);
     border: none;
 }

 .modal .modal-dialog-aside .modal-content .modal-header .modal-title {
     font-family: 'Raleway', sans-serif;
     color: white;
 }

 .modal .modal-dialog-aside .modal-content {
     height: inherit;
     border: 0;
     border-radius: 0;
     background-color: white;
 }

 .modal .modal-dialog-aside .modal-content label {
     color: var(--light-gray);
     font-family: 'Roboto', sans-serif;
     font-size: 15px;
     font-weight: bold;
 }

 .modal .modal-dialog-aside .modal-content .modal-body {
     overflow-y: auto
 }

 .modal .modal-dialog-aside .modal-content .modal-body .editable {
     color: black;
 }

 .modal .modal-dialog-aside .modal-content .modal-body .editable:hover, .modal .modal-dialog-aside .modal-content .modal-body .editable:focus {
     border-color: var(--mainAccent);
 }

 .modal .modal-dialog-aside .modal-content .modal-body input {
     border-radius: 30px;
 }

 .modal .modal-dialog-aside .modal-content .modal-footer .btnsave {
     background-color: var(--secondDarkAccent);
     color: black
 }

 .modal .modal-dialog-aside .modal-content .modal-footer .btnsave:hover {
     box-shadow: inset 0 1px 1px var(--secondAccent), 0 0 8px var(--secondAccent);
 }

 .modal.fixed-left .modal-dialog-aside {
     margin-left: auto;
     transform: translateX(100%);
 }

 .modal.fixed-right .modal-dialog-aside {
     margin-right: auto;
     transform: translateX(-100%);
 }

 .modal.show .modal-dialog-aside {
     transform: translateX(0);
 }

 /* POPOVER */

 .popover {
     max-width: 600px !important;
     background-color: #e8edf4;
     padding: 1.5rem;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
 }

 /* SLIDERRRRRRRRRRRRRRRRRRRRRRRRRR */

 .main .container1 .glider-contain .glider .card {
     margin-right: 0.5rem;
     background: white;
     border: none;
     outline: none;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.10);
     border-radius: 2px;
     width: 100px;
 }

 .main .container1 .glider-contain .glider .card-header {
     background-color: var(--secondAccent);
     color: black;
     ;
 }

 .main .container1 .glider-contain .glider .card .card-body p{
     font-size: 14px;
 }
 
 .main .container1 .glider-contain .glider-prev, .main .container1 .glider-contain .glider-next {
     font-size: 1.5rem;
     background: var(--mainLighterestAccent);
     color: #ffffff;
     margin-top: 1rem;
     width: 3rem;
     height: 3rem;
     line-height: 3rem;
     border-radius: 50%;
 }

 .main .container1 .glider-contain .glider-prev .fas, .main .container1 .glider-contain .glider-next .fas {
     margin-left: 1rem;
 }

 @media only screen and (max-width: 768px) {
     .main .glider-contain .glider-prev, .main .glider-contain .glider-next {
         display: none;
     }
 }

 @media only screen and (min-width: 769px) {
     .main .glider-contain .dots {
         display: none;
     }
 }

 @keyframes transitionIn {
     from {
         opacity: 0;
         transform: translateY(-40px);
     }
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }