 :root {
     --bgColor: #ECF1F5;
     --redAccent: #F6484A;
     --yellowAccent: #ECDA3F;
     --fontColor: #4C4C4C;
 }

 @import url('https://fonts.googleapis.com/css?family=Raleway&family=Roboto&display=swap');
 @font-face {
     font-family: Poppins-Medium;
     src: url(../fonts/Poppins-Medium.ttf);
 }

 @font-face {
     font-family: Poppins;
     src: url(../fonts/Poppins-Regular.ttf);
 }

 @font-face {
     font-family: Poppins-Light;
     src: url(../fonts/Poppins-Light.ttf);
 }

 @font-face {
     font-family: Roboto;
     src: url(../fonts/Roboto-Regular.ttf);
 }

 * {
     /* border: 1px solid red; */
 }

 html {
     scroll-behavior: smooth;
 }

 .transparent {
     background-color: transparent !important;
 }

 body {
     background-color: var(--bgColor);
     font-family: 'Poppins';
 }

 /*NAVBAR*/

 /* for toggle behavior */

 #sidebar.active {
     margin-left: -17rem;
 }

 #content.active {
     width: 100%;
     margin: 0;
 }

 .vertical-nav {
     min-width: 17rem;
     width: 16.5rem;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
     transition: all 0.4s;
     background: rgb(232, 64, 116);
     background: linear-gradient(240deg, rgba(232, 64, 116, 1) 0%, rgba(245, 71, 73, 1) 70%);
 }

 .sidebar-footer {
     position: absolute;
     width: 100%;
     bottom: 0;
     display: flex;
     text-align: center;
     justify-content: center;
 }

 .vertical-nav .brand {
     margin-top: 30px;
     font-family: 'Mansalva', cursive;
     color: #FCFDFF;
     font-size: 40px;
 }

 .vertical-nav a .navlink {
     color: #FCFDFF;
     font-weight: 500;
     font-size: 13px;
 }

 .vertical-nav a .fas {
     background: #FCFDFF;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .vertical-nav small {
     font-weight: bold;
     color: #444444;
 }

 .vertical-nav a {
     padding-top: 14px;
     padding-bottom: 14px;
     margin-bottom: 3px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
 }

 .vertical-nav .nav-item a:hover {
     background: var(--yellowAccent);
     transition: all linear 0.5s;
 }

 .vertical-nav .nav-item a:hover .navlink {
     color: black;
 }

 .vertical-nav .nav-item a:hover .fas {
     background: white;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .vertical-nav .nav-item .active {
     background: var(--yellowAccent);
     transition: all linear 0.5s;
 }

 .vertical-nav .nav-item .active .navlink {
     color: black;
 }

 .vertical-nav .nav-item .active .fas {
     background: white;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .topnav .page-title {
     color: black;
     font-size: 25px;
 }

 .topnav .fas {
     color: var(--redAccent);
 }

 .alert {
     background-color: transparent;
     border: 1px solid var(--light-blue);
     color: var(--light-gray);
     border-radius: 30px;
 }

 /*CONTENT*/

 #content {
     min-width: 500px;
 }

 .page-content {
     width: calc(100% - 17rem);
     margin-left: 17rem;
     transition: all 0.4s;
 }

 /*SECTION LIST COUNT*/

 #list-count .card {
     background-color: #F3F6FB;
     padding-top: 10px;
     padding-bottom: 10px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
 }

 #list-count .fas {
     border-radius: 50%;
     padding: 20px;
     color: white;
     background-color: var(--redAccent);
 }

 #list-count .card h5 {
     font-size: 25px;
     font-weight: 600;
     letter-spacing: 1px;
     color: var(--fontColor);
 }

 #list-count .card small {
     color: var(--fontColor);
     font-size: 12px;
     font-weight: 300;
 }

 /*TABLE CONTENT */

 #table-section {
     background-color: #F3F6FB;
     border: 1px solid #D4D7DC;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
 }

 #tableNavbar h1 {
     font-size: 20px;
 }

 #table-section tbody tr th, #table-section tbody tr td {
     vertical-align: middle;
 }

 #table-section .table>thead>tr>th {
     border-top: none;
 }

 #table-section .table thead {
     font-size: 11px;
     color: #545454;
 }

 #table-section .table tbody {
     font-size: 14px;
     color: black;
     font-family: 'Poppins';
 }

 #table-section .sort .btnSort {
     background-color: transparent;
     color: black;
     border-color: var(--redAccent);
     border-radius: 40px;
     font-size: 13px;
     box-shadow: none;
 }

 #table-section .sort .btnSort:hover {
     background-color: var(--redAccent);
     color: white;
 }

 #table-section .sort .active {
     background-color: var(--redAccent);
     color: white;
 }

 /*  */

 #table-section1 {
     background-color: #F3F6FB;
     border: 1px solid #D4D7DC;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
 }

 #tableNavbar1 h1 {
     font-size: 20px;
 }

 #table-section1 tbody tr th, #table-section tbody tr td {
     vertical-align: middle;
 }

 #table-section1 .table>thead>tr>th {
     border-top: none;
 }

 #table-section1 .table thead {
     font-size: 11px;
     color: #545454;
 }

 #table-section1 .table tbody {
     font-size: 14px;
     color: black;
     font-family: 'Poppins';
 }

 #table-section1 .sort .btnSort {
     background-color: transparent;
     color: black;
     border-color: var(--redAccent);
     border-radius: 40px;
     font-size: 13px;
     box-shadow: none;
 }

 #table-section1 .sort .btnSort:hover {
     background-color: var(--redAccent);
     color: white;
 }

 #table-section1 .sort .active {
     background-color: var(--redAccent);
     color: white;
 }

 @keyframes transitionIn {
     from {
         opacity: 0;
         transform: translateY(-40px);
     }
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }