/* ========== COLOR VARIABLE =========== */

:root {
    --bgcolor: white;
    --mainAccent: #3c414A;
    --mainDarkAccent: #2D313A;
    --mainLightAccent: #4f545c;
    --mainLighterestAccent: #6a707c;
    --secondDarkAccent: #BF8C20;
    --secondAccent: #d4a94a;
    --fontColor: black;
}

/* Font Styles*/

@import url('https://fonts.googleapis.com/css?family=Raleway&family=Roboto&display=swap');

@font-face {
    font-family: Mansalva;
    src: url(../fonts/Mansalva-Regular.ttf);
}

.rArrow {
    color: black;
}

* {
    /*border: 1px solid red;*/
    border-radius: 0;
}

body {
    margin: auto;
    background: url('../assets/magdalena.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center center;
}

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar .navbar-brand {
    font-family: 'Mansalva', cursive;
    color: white;
    font-size: 30px;
}

.transparent {
    background-color: transparent !important;
}

.alert {
    background-color: var(--light-blue);
}

.loginform {
    height: 100vh;
}

.title h1 {
    color: white;
    font-size: 90px;
    font-weight: 800;
}

.title h1 .high {
    font-family: 'Raleway', sans-serif;
    color: var(--secondDarkAccent);
    font-size: 120px;
    font-weight: 800;
}

.btn {
    border-radius: 0;
    border: none;
}

.title .pp {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.title .ppp {
    color: rgb(226, 226, 226);
    font-size: 14px;
}

.aff img {
    max-width: 80px;
}

.forgotPass {
    color: var(--secondAccent);
}

.forgotPass:hover {
    color: var(--secondDarkAccent);
}

.form .input {
    color: black;
    border-color: black;
    border-radius: 0;
    text-align: center;
    padding: 20px 0;
}

.form .input:focus {
    border-color: var(--yellowAccent);
    box-shadow: transparent;
}

.form .input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: center;
    color: black;
    opacity: 1;
    /* Firefox */
}

.form small {
    font-style: italic;
    color: var(--light-blue);
}

.form .submit {
    color: white;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    background-color: black;
}

.form .submit:hover {
    background-color: var(--secondAccent);
    color: black;
    border-color: var(--mainLightAccent);
}

.modal .modal-dialog-aside {
    width: 350px;
    max-width: 80%;
    height: 100%;
    margin: 0;
    transform: translate(0);
    transition: transform .2s;
    background-color: var(--d-gray);
}

.modal .modal-dialog-aside .modal-content .modal-header, .modal .modal-dialog-aside .modal-content .modal-footer {
    background-color: black;
    border: none;
}

.modal .modal-dialog-aside .modal-content .modal-header .modal-title {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.modal .modal-dialog-aside .modal-content {
    height: inherit;
    border: 0;
    border-radius: 0;
    background-color: var(--dark-gray);
}

.modal .modal-dialog-aside .modal-content label {
    color: var(--light-gray);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.modal .modal-dialog-aside .modal-content .modal-body {
    overflow-y: auto
}

.modal .modal-dialog-aside .modal-content .modal-body .editable {
    color: white;
}

.modal .modal-dialog-aside .modal-content .modal-body .editable:hover, .modal .modal-dialog-aside .modal-content .modal-body .editable:focus {
    border-color: var(--light-blue);
    box-shadow: inset 0 1px 1px var(--light-blue), 0 0 8px var(--light-blue);
}

.modal .modal-dialog-aside .modal-content .modal-body input {
    border-radius: 30px;
}

.modal .modal-dialog-aside .modal-content .modal-footer button .btnsave {
    background: linear-gradient(90deg, rgba(255, 182, 91, 1) 22%, rgba(255, 210, 143, 1) 46%, rgba(244, 202, 255, 1) 100%);
}

.modal .modal-dialog-aside .modal-content .modal-footer button .btnsave:hover {
    box-shadow: inset 0 1px 1px var(--light-blue), 0 0 8px var(--light-blue);
}

.modal.fixed-left .modal-dialog-aside {
    margin-left: auto;
    transform: translateX(100%);
}

.modal.fixed-right .modal-dialog-aside {
    margin-right: auto;
    transform: translateX(-100%);
}

.modal.show .modal-dialog-aside {
    transform: translateX(0);
}

@media (max-width: 600px) {
    .removeSm {
        display: none !important;
    }

    #login .form {
        padding: 4rem 0 !important;
    }
}

@media (max-width: 1280px) {
    .title h1 {

        font-size: 60px !important;
    }

    .title h1 .high {
        font-size: 90px !important;
    }

    #login .form {
        padding: 6rem 2rem !important;
    }
}

@media (max-width: 1024px) {
    .title{
        padding-right: 0!important;
    }
    .title h1 {

        font-size: 40px !important;
    }

    .title h1 .high {
        font-size: 70px !important;
    }
}


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}