:root {
    --bgcolor: white;
    --nextWhite: white;
    --mainAccent: #3c414A;
    --mainDarkAccent: #2D313A;
    --mainLightAccent: #4f545c;
    --mainLighterestAccent: #6a707c;
    --secondDarkAccent: #BF8C20;
    --fontColor: black;
}

.btn {
    border-radius: 0;
}

.rArrow {
    color: var(--secondDarkAccent);
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.transparent {
    background-color: transparent !important;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
    color: #212529;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700 !important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* SCROLL BAR */

body::-webkit-scrollbar {
    width: 12px;
    height: 6px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--mainDarkAccent);
}

body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

/*============ NAVBAR =============*/

.navbar1 {
    background-color: #2d313a;
    top: 0;
    height: 3.5rem;
    color: whitesmoke;
}

.navbar1 a {
    font-weight: lighter;
    font-size: 15px;
}

.navbar1 .navbar-nav .nav-item {
    color: white;
}

.navbar1 .navbar-nav .nav-item:hover {
    color: var(--secondLightAccent);
}

.scrolled {
    background-color: #18191b;
    transition: transform .6s ease;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    padding: 40px 10px;
}

.padding {
    padding: 40px 10px;
}

.navbar2 {
    transition: 0.5s ease-in-out;
}

.navbar2 .navbar-brand {
    font-weight: 800;
    color: var(--secondDarkAccent);
    font-size: 25px;
}

.navbar2 .navbar-nav .nav-item {
    color: black;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar2 .navbar-nav .nav-item:hover {
    color: var(--secondDarkAccent);
}

.hide {
    transform: translateY(-150px);
    transition: transform .8s ease;
}

.navbar2.scrolled>.container .collapse .navbar-nav .nav-item {
    color: white;
}

.navbar2.scrolled>.container .collapse .navbar-nav .nav-item:hover {
    color: var(--secondDarkAccent);
}

/*--------TOP BANNER--------*/

#topBanner {
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url('../assets/magdalena.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

#topBanner .main-content {
    height: 60vh;
}

#topBanner .main-content h3 {
    color: white;
    font-size: 70px;
    font-weight: 800;
}

#topBanner .main-content h3 .accent {
    color: var(--secondDarkAccent);
}

#topBanner .main-content p {
    color: white;
    font-weight: lighter;
}

#topBanner .section-title-heading {
    font-size: 18px;
    letter-spacing: 5px;
    color: var(--secondDarkAccent);
}

/*--------ABOUT--------*/

#about {
    padding-top: 4rem;
    padding-bottom: 9rem;
    position: relative;
    background-color: var(--d-gray);
    color: var(--fontColor);
}

#about .sideNavbar h5 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 20px;
}

#about .sideNavbar .btn {
    border-radius: 0;
    background-color: var(--mainAccent);
    color: white;
    font-size: 16px;
}

#about .sideNavbar .btn:hover {
    background-color: var(--mainLighterestAccent);
}

#about .aboutContent h2 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--mainAccent);
}

#about .aboutContent h2 .accent {
    font-size: 60px;
    color: black;
    font-style: normal;
}

#about .aboutContent .breadcrumb {
    background-color: transparent;
}

#about .aboutContent {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

#about .aboutContent .startContent {
    text-align: justify;
}

#about .aboutContent .startContent h2 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

#about .aboutContent .startContent h2 span {
    border-bottom: 5px solid var(--secondDarkAccent);
}

#about .aboutContent .startContent img {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 50%);
}

#about .aboutContent .startContent p {
    font-size: 17px;
    font-weight: lighter;
}

hr {
    height: 0px;
    border: none;
    background-color: #D4D7DC;
}

#about .btn {
    margin: 0.375 rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: 0.125 rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    padding: 0.84 rem 2.14 rem;
    font-size: .81rem;
    padding: 0.7rem 1.6rem;
    background-color: #fb3;
}

#about .btn:hover {
    background-color: var(--mainDarkAccent);
    color: white;
}

/*--------FOOTER--------*/

/*--------FOOTER--------*/

.footer {
    padding-top: 8rem;
    background-color: #22252b;
    position: relative;
    color: white;
    justify-content: center;
    text-align: center;
}

.footer p {
    color: rgb(167, 167, 167);
}

.footer a {
    color: var(--secondDarkAccent);
}

.footer h1 {
    font-family: 'Mansalva', cursive;
}

.footer .social-links {
    color: white;
}

.footer1 {
    background-color: #18191b;
    position: relative;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

.footer1 h6 {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: lighter;
}

.footer1 i {
    margin-right: 10px;
    margin-left: 10px;
}

.footer1 h1 {
    font-family: 'Mansalva', cursive;
}

.gallery-block {
    padding-bottom: 60px;
}

.gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block.cards-gallery .card {
    transition: 0.4s ease;
}

.gallery-block.cards-gallery .card-body p {
    font-size: 15px;
}

.gallery-block.cards-gallery a {
    color: #212529;
}

.gallery-block.cards-gallery a:hover {
    text-decoration: none;
}

.gallery-block.cards-gallery .card {
    margin-bottom: 30px;
}

.card-columns {
    box-shadow: none;
}

@media (min-width: 576px) {
    .gallery-block .transform-on-hover:hover {
        transform: translateY(5px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}

@media (max-width: 420px) {
    #topBanner .main-content h3 {
        font-size: 40px;
    }
    #about .aboutContent h2 .accent {
        font-size: 35px;
    }
    #about .startContent h2 {
        font-size: 25px;
    }
    .padding, .scrolled {
        padding: 20px 10px!important;
    }
    .nav-item {
        text-align: center;
    }
}