:root {
    --bgcolor: white;
    --mainAccent: #3c414A;
    --mainDarkAccent: #2D313A;
    --mainLightAccent: #4f545c;
    --mainLighterestAccent: #6a707c;
    --secondDarkAccent: #BF8C20;
    --secondLightAccent: #d4a94a;
    --fontColor: black;
}

.btn {
    border-radius: 0;
}

.rArrow {
    color: var(--secondDarkAccent);
}

* {
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

.transparent {
    background-color: transparent !important;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
    color: #212529;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700 !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* SCROLL BAR */

body::-webkit-scrollbar {
    width: 12px;
    height: 6px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--mainDarkAccent);
}

body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

/*============ NAVBAR =============*/

.navbar1 {
    background-color: #2d313a;
    top: 0;
    height: 3.5rem;
    color: whitesmoke;
}

.navbar1 a {
    font-weight: lighter;
    font-size: 15px;
}

.navbar1 .navbar-nav .nav-item {
    color: white;
}

.navbar1 .navbar-nav .nav-item:hover {
    color: var(--secondLightAccent);
}

.scrolled {
    background-color: #18191b;
    transition: transform .6s ease;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    padding: 40px 10px;
}

.padding {
    padding: 40px 10px;
}

.navbar2 {
    transition: 0.5s ease-in-out;
}

.navbar2 .navbar-brand {
    font-weight: 800;
    color: var(--secondDarkAccent);
    font-size: 25px;
}

.navbar2 .navbar-nav .nav-item {
    color: black;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar2 .navbar-nav .nav-item:hover {
    color: var(--secondDarkAccent);
}

.hide {
    transform: translateY(-150px);
    transition: transform .8s ease;
}

.navbar2.scrolled>.container .collapse .navbar-nav .nav-item {
    color: white;
}

.navbar2.scrolled>.container .collapse .navbar-nav .nav-item:hover {
    color: var(--secondDarkAccent);
}

/*--------TOP BANNER--------*/

#topBanner {
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url('../assets/magdalena.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 82vh;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

#topBanner .main-content {
    height: 65vh;
}

#topBanner .main-content h2 {
    color: white;
    font-size: 70px;
    font-weight: 800;
}

#topBanner .main-content h2 .accent {
    color: var(--secondDarkAccent);
}

#topBanner .main-content p {
    color: white;
    font-weight: lighter;
}

#topBanner .submit {
    background-color: transparent;
    color: white;
    border-color: var(--secondDarkAccent);
    letter-spacing: 2px;
    font-size: 12px;
    transition: all linear .5s;
    padding: 10px 0;
}

#topBanner .submit:hover {
    background-color: var(--secondDarkAccent);
    color: white;
    border-color: var(--mainAccent);
    transition: all 1s linear;
}



#topBanner .submit:hover .rArrow {
    color: white;
}

#topBanner .chooseSelect {
    background-color: var(--secondDarkAccent);
    margin: 0 200px;
    padding: 15px 15px;
}

/*--------ABOUT--------*/

#about {
    padding-top: 9rem;
    padding-bottom: 11rem;
    position: relative;
    color: var(--fontColor);
}

#about:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 175px;
    top: -50px;
    left: 0;
    background: var(--bgcolor);
    transform: skewY(10deg);
}

#about:after {
    position: absolute;
    content: '';
    width: 60%;
    height: 175px;
    top: -50px;
    right: 0;
    background: var(--bgcolor);
    transform: skewY(-10deg);
}

#about .sec-title {
    margin-top: 5rem;
}

#about .sec-title h1 {
    font-weight: 800;
    font-size: 40px;
}

#about .sec-title p {
    font-weight: lighter;
}

#about .section-title-heading {
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--secondDarkAccent);
}

#about .about {
    margin-top: 80px;
}

#about .spabout {
    margin-top: 2rem;
    margin-bottom: 2rem;
    top: 0;
    transition: all .3s;
}

#about .spabout .btn {
    background-color: var(--mainDarkAccent);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}

#about .spabout .btn:hover {
    background-color: transparent;
    border-color: transparent;
    color: black;
}

#about .spabout .fas {
    color: var(--secondDarkAccent);
}

#about .spabout:hover {
    position: relative;
    top: -10px;
    transition: all 0.3s linear;
}

#about .spabout:hover h3 {
    color: var(--secondDarkAccent);
}

#about .spabout:hover .fas {
    color: black;
}

#about .spabout h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

#about .spabout p {
    font-size: 15px;
    font-weight: lighter;
}

/*--------VIDEO PAGE--------*/

#videopage .vid-cont {
    position: relative;
}

#videopage .vid {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#videopage .overlay-desc {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

#videopage .sec-title h1 {
    font-weight: 800;
    font-size: 40px;
}

#videopage .section-title-heading {
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--secondDarkAccent);
}

#videopage .overlay-desc h3 {}

#videopage .overlay-desc h3 .cfourth {
    color: var(--blue);
    font-size: 40px;
    font-weight: bolder;
}

#videopage .overlay-desc .submit {
    background-color: transparent;
    border-color: var(--secondDarkAccent);
    color: white;
    letter-spacing: 1px;
    transition: all linear .5s;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
}

#videopage .overlay-desc .submit:hover {
    background-color: var(--secondDarkAccent);
    color: white;
    border-color: var(--mainLightAccent);
    transition: all 1s linear;
}

#videopage .overlay-desc .submit:hover .fas {
    color: white;
}

/*--------FOURTH PAGE--------*/

#fourthpage {
    position: relative;
    background-color: white;
}

#fourthpage .sec-title h1 {
    font-weight: 800;
    font-size: 40px;
}

#fourthpage .section-title-heading {
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--secondDarkAccent);
}

#fourthpage .pic {
    background-color: var(--mainDarkAccent);
}

#fourthpage .sppic {
    padding-top: 9rem;
    padding-bottom: 9rem;
    max-height: 40rem;
}

#fourthpage .spcontent {
    padding: 5rem;
}

/*--------LOCATION LOG--------*/

#locationlog {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .5)), url('../assets/bbb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

#locationlog .cl-content {
    padding: 10rem 5rem;
    color: ghostwhite;
}

#locationlog .sec-title h1 {
    font-weight: 800;
    font-size: 40px;
}

#locationlog.sec-title p {
    font-weight: lighter;
}

#locationlog .section-title-heading {
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--secondDarkAccent);
}

/*--------FIFTH PAGE--------*/

#fifthpage .scrollp {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

#fifthpage .sec-title {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--d-gray);
    padding: 5rem;
}

#fifthpage .sec-title h1 {
    font-weight: 800;
    font-size: 40px;
}

#fifthpage .section-title-heading {
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--secondDarkAccent);
}

#fifthpage .sec-title1 h1 {
    font-weight: 800;
    font-size: 35px;
}

#fifthpage .sec-title1 .section-title-heading {
    letter-spacing: 5px;
    color: var(--secondDarkAccent);
}

#fifthpage .fpright {
    overflow: hidden;
    width: 100%;
    background: var(--bgcolor);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#fifthpage .fpright div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    transition: all .5s ease-in;
    color: white;
}

.fpright .fp:hover {
    transform: scale(1.1);
}

#fifthpage .fprightc1 {
    width: 100%;
}

#fifthpage h2 {
    color: var(--light-gray);
    letter-spacing: 1px;
    font-size: 25px;
}

#fifthpage .submit {
    background-color: var(--secondDarkAccent);
    color: white;
    letter-spacing: 1px;
    transition: all linear .5s;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0;
}

#fifthpage .submit .fas {
    color: var(--mainDarkAccent);
}

#fifthpage .submit:hover {
    background-color: var(--secondLightAccent);
    color: white;
    transition: all 1s linear;
}

#fifthpage .submit:hover .fas {
    color: white;
}

/*--------SIXTH PAGE--------*/

#sixthpage {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 1)), url('../assets/magdalena3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    background-position: center;
    margin: 0;
}

#sixthpage img {
    display: block;
    margin: 0 auto;
}

#sixthpage .feature-block {
    text-align: center;
}

#sixthpage .sxp-cont {
    padding-bottom: 8rem;
}

#sixthpage .sec-title {
    padding-top: 8rem;
    padding-bottom: 6rem;
}

#sixthpage .sec-title h1 {
    font-weight: 800;
    font-size: 40px;
}

#sixthpage .section-title-heading {
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--secondDarkAccent);
}

#sixthpage .steps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#sixthpage .ca {
    position: absolute;
}

#sixthpage .wup {
    z-index: 2;
    font-size: 18px;
    letter-spacing: 12px;
}

#sixthpage .wdown {
    z-index: 1;
    font-size: 150px;
    color: black;
    font-weight: 900;
}

#sixthpage p {
    margin-top: 80px;
}

/*--------FOOTER--------*/

.footer {
    padding-top: 8rem;
    background-color: #22252b;
    position: relative;
    color: white;
    justify-content: center;
    text-align: center;
}

.footer p {
    color: rgb(167, 167, 167);
}

.footer a {
    color: var(--secondDarkAccent);
}

.footer h1 {
    font-family: 'Mansalva', cursive;
}

.footer .social-links {
    color: white;
}

.footer1 {
    background-color: #18191b;
    position: relative;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

.footer1 h6 {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: lighter;
}

.footer1 i {
    margin-right: 10px;
    margin-left: 10px;
}

.footer1 h1 {
    font-family: 'Mansalva', cursive;
}

/*--------MEDIA QUERIES--------*/

@media (max-width: 1340px) {
    #fourthpage .sppic {
        max-width: 20rem;
    }
}

@media (max-width: 990px) {
    #sixthpage .device {
        opacity: 0;
        transition: all 1s ease-in;
    }
}


@media (max-width: 1025px) {

    #topBanner .chooseSelect{
        margin: 0!important;
    }
}

@media (max-width: 420px) {
    #topBanner .main-content h2 {
        font-size: 40px;
    }

    h1 {
        font-size: 2rem !important;
    }

    .section-title-heading {
        letter-spacing: 6px !important;
        font-size: 15px !important;
    }

    #videopage .submit {
        margin-top: 0 !important;
    }

    #videopage h1 {
        font-size: 1.5rem !important;
    }

    #fourthpage .pic {
        display: none;
    }

    #fifthpage .fpright div {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    #sixthpage .secondBlock {
        margin-top: 2rem;
    }

    .padding, .scrolled {
        padding: 20px 10px !important;
    }

    .nav-item {
        text-align: center;
    }
}

@media (max-width: 767px) {
    #fourthpage .spcontent {
        text-align: center;
    }

    #fourthpage .sppic {
        padding-bottom: 0;
        max-width: 12rem;
    }

    #fourthpage .pic {
        background-color: var(--body-color);
    }

    #sixthpage .device {
        display: none;
    }

    #videopage .overlay-desc p {
        display: none;
    }

    #secondpage .spabout:hover {
        margin-top: 2rem;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translate3d(0, 160px, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}