:root {
    --bgcolor: white;
    --mainAccent: #1F5493;
    --mainDarkAccent: #102E51;
    --mainLightAccent: #0371BC;
    --mainLighterestAccent: #4773AA;
    --secondDarkAccent: #FDB81D;
    --secondAccent: #F9C641;
    --grayAccent: #aeb0b5;
    --fontColor: black;
}

/* Font Styles*/

@import url('https://fonts.googleapis.com/css?family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@font-face {
    font-family: Mansalva;
    src: url(../fonts/Mansalva-Regular.ttf);
}
.btn{
    border-radius: 0;
}
* {
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

.transparent {
    background-color: transparent !important;
}

body {
    background-color: var(--d-gray);
}

/*============ NAVBAR =============*/

.scrolled {
    background-color: black;
    transition: transform .8s ease;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.1);
}

.current {
    color: var(--light-blue);
}

.padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    transition: transform 1s ease;
}

.navbar .navbar-brand {
    font-family: 'Mansalva', cursive;
    color: white;
    font-size: 35px;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar .navbar-nav .nav-item {
    color: white;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar .navbar-nav .nav-item:hover {
    color: var(--secondAccent);
}

.hide {
    transform: translateY(-150px);
    transition: transform .8s ease;
}

.navbar.scrolled>.collapse .navbar-nav .nav-item {
    color: black;
}

.navbar.scrolled>.collapse .navbar-nav .nav-item:hover {
    color: var(--mainLightAccent);
}

/*--------TOP BANNER--------*/

#topBanner {
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .5)), url('../assets/bb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

#topBanner .main-content {
    height: 100vh;
}

#topBanner .main-content h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 85px;
    font-weight: 800;
}

#topBanner .main-content h1 .accent {
    color: var(--secondDarkAccent);
}

#topBanner .main-content p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    word-spacing: 2px;
}

#topBanner .submit {
    background-color: transparent;
    border-color: white;
    color: white;
    letter-spacing: 1px;
    transition: all linear .5s;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
}

#topBanner .submit:hover {
    background-color: white;
    color: black;
    border-color: var(--mainLightAccent);
    transition: all 1s linear;
}

/*--------ABOUT--------*/

#about {
    padding-top: 9rem;
    padding-bottom: 9rem;
    position: relative;
    background-color: var(--d-gray);
    color: var(--fontColor);
}

#about:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 155px;
    top: -50px;
    left: 0;
    background: var(--bgcolor);
    transform: skewY(10deg);
}

#about:after {
    position: absolute;
    content: '';
    width: 60%;
    height: 155px;
    top: -50px;
    right: 0;
    background: var(--bgcolor);
    transform: skewY(-10deg);
}

#about .sec-title {
    margin-top: 5rem;
}

#about .sec-title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#about .sec-title p {
    font-weight: lighter;
}

#about .section-title-heading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--mainLightAccent);
}

#about .about {
    margin-top: 80px;
}

#about .spabout {
    margin-top: 2rem;
    margin-bottom: 2rem;
    top: 0;
    transition: all .3s;
}

#about .spabout .btn {
    background-color: var(--mainDarkAccent);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}

.rArrow {
    color: var(--secondDarkAccent);
}

#about .spabout .btn:hover {
    background-color: transparent;
    border-color: var(--mainDarkAccent);
    color: black;
}

#about .spabout .fas {}

#about .spabout:hover {
    position: relative;
    top: -10px;
    transition: all 0.3s linear;
}

#about .spabout:hover h3 {
    color: black;
}

#about .spabout:hover .fas {
    color: var(--mainAccent);
}

#about .spabout h3 {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    color: var(--mainAccent);
    letter-spacing: 5px;
    font-size: 25px;
}

#about .spabout p {
    font-size: 15px;
    font-weight: lighter;
}

/*--------VIDEO PAGE--------*/

#videopage .vid-cont {
    position: relative;
}

#videopage .vid {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#videopage .overlay-desc {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

#videopage .sec-title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#videopage .sec-title p {
    font-weight: lighter;
}

#videopage .section-title-heading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--secondDarkAccent);
}

#videopage .overlay-desc h3 {}

#videopage .overlay-desc h3 .cfourth {
    color: var(--blue);
    font-size: 40px;
    font-weight: bolder;
}

#videopage .overlay-desc p {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: var(--light-gray);
}

#videopage .overlay-desc .submit {
    background-color: transparent;
    border-color: white;
    color: white;
    letter-spacing: 1px;
    transition: all linear .5s;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
}

#videopage .overlay-desc .submit:hover {
    background-color: var(--mainAccent);
    color: white;
    border-color: var(--mainLightAccent);
    transition: all 1s linear;
}

/*--------FOURTH PAGE--------*/

#fourthpage {
    position: relative;
    background-color: white;
}

#fifthpage .fpleft {
    width: 100%;
    height: 100vh;
    top: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--d-gray);
}

#fourthpage .sec-title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#fourthpage .sec-title p {
    font-weight: lighter;
}

#fourthpage .section-title-heading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--mainLighterestAccent);
}

#fourthpage .spcontent p {
    color: var(--fontColor);
    font-size: 15px;
    font-weight: lighter;
}

#fourthpage .pic {
    background-color: var(--mainDarkAccent);
}

#fourthpage .sppic {
    padding-top: 9rem;
    padding-bottom: 9rem;
    max-height: 40rem;
}

#fourthpage .spcontent {
    padding: 5rem;
}

/*--------LOCATION LOG--------*/

#locationlog {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .5)), url('../assets/bb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

#locationlog .cl-content {
    padding: 10rem 5rem;
    color: ghostwhite;
}

#locationlog .sec-title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#locationlog.sec-title p {
    font-weight: lighter;
}

#locationlog .section-title-heading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--secondDarkAccent);
}

/*--------FIFTH PAGE--------*/

#fifthpage .scrollp {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

#fifthpage .sec-title {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--d-gray);
    padding: 5rem;
}

#fifthpage .sec-title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#fifthpage.sec-title p {
    font-weight: lighter;
}

#fifthpage .section-title-heading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--mainLighterestAccent);
}

#fifthpage .sec-title1 h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 35px;
}

#fifthpage .sec-title1 .section-title-heading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 5px;
    color: var(--secondDarkAccent);
}

#fifthpage .fpright {
    overflow: hidden;
    width: 100%;
    background: var(--bgcolor);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#fifthpage .fpright div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    transition: all .5s ease-in;
    color: white;
}

.fpright .fp:hover {
    transform: scale(1.1);
}

#fifthpage .fprightc1 {
    width: 100%;
}

#fifthpage h2 {
    font-family: 'Julius Sans One', sans-serif;
    color: var(--light-gray);
    letter-spacing: 1px;
    font-size: 25px;
}

#fifthpage .submit {
    background-color: transparent;
    border-color: white;
    color: white;
    letter-spacing: 1px;
    transition: all linear .5s;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0;
}

#fifthpage .submit:hover {
    background-color: var(--mainAccent);
    color: white;
    border-color: var(--mainLightAccent);
    transition: all 1s linear;
}

/*--------SIXTH PAGE--------*/

#sixthpage {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 1)), url('../assets/magdalena3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    background-position: center;
    margin: 0;
}

#sixthpage img {
    display: block;
    margin: 0 auto;
}

#sixthpage .feature-block {
    text-align: center;
}

#sixthpage .sxp-cont {
    padding-bottom: 8rem;
}

#sixthpage .sec-title {
    padding-top: 8rem;
    padding-bottom: 6rem;
}

#sixthpage .sec-title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#sixthpage .sec-title p {
    font-weight: lighter;
}

#sixthpage .section-title-heading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    letter-spacing: 12px;
    color: var(--mainLighterestAccent);
}

#sixthpage .steps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#sixthpage .ca {
    position: absolute;
}

#sixthpage .wup {
    z-index: 2;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    letter-spacing: 12px;
}

#sixthpage .wdown {
    z-index: 1;
    font-size: 150px;
    color: black;
    font-weight: 900;
}

#sixthpage p {
    margin-top: 80px;
    color: var(--light-gray);
    font-size: 15px;
    font-weight: lighter;
}

/*--------FOOTER--------*/

.footer {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: var(--mainDarkAccent);
    position: relative;
    color: white;
    justify-content: center;
    text-align: center;
}

.footer .container {}

.footer h6 #year {
    color: var(--light-blue);
}

.footer i {
    margin-right: 10px;
    margin-left: 10px;
}

.footer i {
    margin-right: 10px;
    margin-left: 10px;
}

.footer h1 {
    font-family: 'Mansalva', cursive;
}

.footer1 {
    padding: 1rem 0;
    background-color: var(--mainAccent);
    position: relative;
    color: white;
    justify-content: center;
    text-align: center;
}

.footer1 h6 {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: lighter;
}

.footer1 i {
    margin-right: 10px;
    margin-left: 10px;
}

.footer1 h1 {
    font-family: 'Mansalva', cursive;
}

/*--------MEDIA QUERIES--------*/

@media (max-width: 1340px) {
    #fourthpage .sppic {
        max-width: 20rem;
    }
}

@media (max-width: 990px) {
    #sixthpage .device {
        opacity: 0;
        transition: all 1s ease-in;
    }
}

@media (max-width: 767px) {
    #fourthpage .spcontent {
        text-align: center;
    }
    #fourthpage .sppic {
        padding-bottom: 0;
        max-width: 12rem;
    }
    #fourthpage .pic {
        background-color: var(--body-color);
    }
    #sixthpage .device {
        display: none;
    }
    #videopage .overlay-desc p {
        display: none;
    }
    #secondpage .spabout:hover {
        margin-top: 2rem;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translate3d(0, 160px, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}